<div class="card">
    <form class="form-card" [formGroup]="filterForm">
        <nz-range-picker formControlName="Start_End_Date" ngModel></nz-range-picker>
        <nz-select nzSize="large" ngModel nzShowSearch nzAllowClear nzPlaceHolder="Select Depot Code"
            formControlName="depotDetails">
            <nz-option [nzLabel]="item['label']" [nzValue]="item" *ngFor="let item of depots"></nz-option>
        </nz-select>
        <nz-select nzSize="large" ngModel nzShowSearch nzAllowClear nzPlaceHolder="Select Bag or Ton"
            formControlName="BAGTON">
            <nz-option [nzLabel]="item" [nzValue]="item" *ngFor="let item of BAGTONData"></nz-option>
        </nz-select>
        <div class="mr-0" style="margin: auto;margin-right: 0;">
            <button class="show-data-btn" [disabled]="filterForm.invalid" nz-button nzType="primary"
                (click)="loadData()" [nzLoading]="isLoadingOne">Show</button>
            <button class="show-data-btn" [disabled]="TableData.length==0 && filterForm.invalid" nz-button
                nzType="primary" (click)="downloadCSV()" [nzLoading]="isLoadingOne">.csv</button>
        </div>
    </form>
    <div class="p-2">
        <nz-empty *ngIf="this.TableData.length==0"></nz-empty>
        <mat-table-pagination *ngIf="TableData.length!=0" (onPageChange)="onChangeEvent($event)"
            [totalRecords]="totalRecords" [recordsPerPage]="10"></mat-table-pagination>
    </div>
</div>

<div class="div">

    <nz-table [nzData]="this.TableData.length" *ngIf="this.TableData.length!=0">
        <thead>
            <tr>
                <th class="col1">Sr.No.</th>
                <th class="col1">Entry_Date</th>
                <th class="col1">SourcePlant</th>
                <th class="col1">PlantInvoiceNo</th>
                <th class="col1">Invoice_Date</th>
                <th class="col1">Arr.Dt.Truck</th>
                <th class="col1">InvoiceQty</th>
                <th class="col1">Grade</th>
                <th class="col1">GoodStock</th>
                <th class="col1">Cut&Torn</th>
                <th class="col1">Shortage</th>
                <th class="col1">Unloading</th>
                <th class="col1">Transhipment</th>
                <th class="col1">diversion</th>
                <th class="col1">TransportC0mpany</th>
                <th class="col1">VehicleNo.</th>
                <th class="col1">Reason Delay</th>
                <th class="col1">InTime</th>
                <th class="col1">OutTime</th>
                <th class="col1">HaltTime</th>
                <th class="col1">Depot Code</th>
                <th class="col1">Emp ID</th>
                <th class="col1">Comments</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of TableData;let i=index">
                <td class="col1 color-black">{{(i+1)}}</td>
                <td class="col1 color-black">{{(data['entryDate'])}}</td>
                <td class="col1 color-black">{{(data['particulars'])}}</td>
                <td class="col1 color-black">{{(data['invoiceNumber'])}}</td>
                <td class="col1 color-black">{{(data['invoiceDate'])}}</td>
                <td class="col1 color-black">{{(data['arrivalDateOfTruck'])}}</td>
                <td class="col1 color-black">{{this.service.ParseFloat(data['invoiceQty'])}}</td>
                <td class="col1 color-black">{{(data['grade'])}}</td>
                <td class="col1 color-black">{{this.service.ParseFloat(data['goodStock'])}}</td>
                <td class="col1 color-black">{{this.service.ParseFloat(data['cutAndTorn'])}}</td>
                <td class="col1 color-black">{{this.service.ParseFloat(data['shortage'])}}</td>
                <td class="col1 color-black">{{this.service.ParseFloat(data['unloading'])}}</td>
                <td class="col1 color-black">{{this.service.ParseFloat(data['transphipment'])}}
                </td>
                <td class="col1 color-black">{{this.service.ParseFloat(data['diversion'])}}</td>
                <td class="col1 color-black">{{(data['transporterCompany'])}}</td>
                <td class="col1 color-black">{{(data['vehicleNumber'])}}</td>
                <td class="col1 color-black">{{(data['reasonForDelay'])}}</td>
                <td class="col1 color-black">{{(data['inTimeOfTruck'])}}</td>
                <td class="col1 color-black">{{(data['outTimeOfTruck'])}}</td>
                <td class="col1 color-black">{{(data['haltHour'])}}</td>
                <td class="col1 color-black">{{(data['depot_code'])}}</td>
                <td class="col1 color-black">{{(data['emp_id'])}}</td>
                <td class="col1 color-black">{{(data['comments'])}}</td>
            </tr>
        </tbody>
    </nz-table>
</div>