.action-btn {
    border: none;
    background: no-repeat;
    display: flex;
    align-items: center;
}

.mat-table-controller {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 99%;
    margin: auto;
    margin-bottom: 10px;
}