.card {
    display: flex;
}

.form-card {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

.show-data-btn {
    width: 100px;
    margin-right: 10px;
}

.ng-select .ng-select-container {
    color: rgba(0, 0, 0, .87);
    align-items: baseline;
    min-height: auto !important;
}