<div class="card">
    <nz-progress [nzPercent]="this.progress" nzStatus="active">{{0}}</nz-progress>
    <form class="form-card" [formGroup]="filterForm">
        <button class="show-data-btn" nz-button nzType="primary" (click)="loadData()" [nzLoading]="isLoadingOne">Select
            File</button>
        <ng-select [style]="{'width':'300px'}" [disabled]="TableData.length==0?true:false"
            formControlName="depotDetails" required="true" style="height: auto !important;padding: 0;" name="depotCode"
            (change)="ChangeTableDataDepotCode($event)" placeholder="Select Depot Code" [items]="depots"
            bindLabel="label" ngModel [searchable]="true">
        </ng-select>
        <button class="show-data-btn" [disabled]="TableData.length==0" nz-button nzType="primary"
            (click)="uploadStart($event)" [nzLoading]="isLoadingOne">Upload</button>
    </form>
    <div class="div">
        <nz-empty *ngIf="TableData.length==0"></nz-empty>
        <div class="date-lable-input" *ngIf="this.IN_VALID_DATE">
            <label class="heading-lable" style="color: red;">Only data insert 5 days before<br> Please check entry date!
            </label>
        </div>
        <div class="date-lable-input" *ngIf="this.GradeNotFound.length!=0">
            <label class="heading-lable" style="color: red;" *ngFor="let item of this.GradeNotFound">{{item}}</label>
        </div>
        <mat-table-pagination *ngIf="TableData.length!=0" (onPageChange)="onChangeEvent($event)"
            [totalRecords]="totalRecords" [recordsPerPage]="10"></mat-table-pagination>
        <nz-table *ngIf="TableData.length!=0">
            <thead>
                <tr>
                    <th scope="col">Sr.No.</th>
                    <th scope="col">Entry_Date</th>
                    <th scope="col">Dealer Name</th>
                    <th scope="col">Dealer Code</th>
                    <th scope="col">Invoice_No.</th>
                    <th scope="col">Invoice_Date</th>
                    <th scope="col">InvoiceQty</th>
                    <th scope="col">Grade</th>
                    <th scope="col">Loading</th>
                    <th scope="col">Transhipment</th>
                    <th scope="col">diversion</th>
                    <th scope="col">TRUCK_ARRANGED_BY</th>
                    <th scope="col">VehicleNo.</th>
                    <th scope="col">DriveName</th>
                    <th scope="col">DriverMob.</th>
                    <th scope="col">Invoice Value.</th>
                    <th scope="col">EwayDate</th>
                    <th scope="col">EwayNo</th>
                    <th scope="col">InTime</th>
                    <th scope="col">OutTime</th>
                    <th scope="col">Depot Code</th>
                    <th scope="col">Comments</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of TableData;let i=index">
                    <td class="col1 color-black">{{(i+1)}}</td>
                    <td scope="col">{{data['Entry_Date']}}</td>
                    <td scope="col">{{data['Dealer_Name']}}</td>
                    <td scope="col">{{data['Dealer_Code']}}</td>
                    <td scope="col">{{data['InvoiceNumber']}}</td>
                    <td scope="col">{{data['InvoiceDate']}}</td>
                    <td scope="col">{{data['InvoiceQty']}}</td>
                    <td scope="col">{{data['Grade']}}</td>
                    <td scope="col">{{data['Unloading']}}</td>
                    <td scope="col">{{data['Transphipment']}}</td>
                    <td scope="col">{{data['Diversion']}}</td>
                    <td scope="col">{{data['TruckArrangedBy']}}</td>
                    <td scope="col">{{data['VehicleNumber']}}</td>
                    <td scope="col">{{data['DriverName']}}</td>
                    <td scope="col">{{data['DriverMobileNumber']}}</td>
                    <td scope="col">{{data['InvoiceValue']}}</td>
                    <td scope="col">{{data['EwayDate']}}</td>
                    <td scope="col">{{data['EwayNo']}}</td>
                    <td scope="col">{{data['InTimeOfTruck']}}</td>
                    <td scope="col">{{data['OutTimeOfTruck']}}</td>
                    <td scope="col">{{data['Depot_Code']}}</td>
                    <td scope="col">{{data['comments']}}</td>
                </tr>
            </tbody>
        </nz-table>
    </div>
</div>
<ng-template #UploadUIOpen>
    <custom-upload-ui (eventCompleted)="uploadCompleted($event)" [TableColumns]="this.Tabelheader"></custom-upload-ui>
</ng-template>