<div class="card">
    <form class="form-card" [formGroup]="filterForm">
        <nz-date-picker formControlName="Start_End_Date" ngModel></nz-date-picker>
        <ng-select formControlName="depotDetails" required="true" style="height: auto !important;padding: 0;"
            name="depotCode" [items]="depots" bindLabel="label" ngModel [searchable]="true">
        </ng-select>
        <button class="show-data-btn" [disabled]="filterForm.invalid" nz-button nzType="primary" (click)="loadData()"
            [nzLoading]="isLoadingOne">Show</button>
    </form>
</div>

<div class="div">
    <nz-empty *ngIf="TableData.length==0"></nz-empty>
    <mat-table-pagination *ngIf="TableData.length!=0" (onPageChange)="onChangeEvent($event)"
        [totalRecords]="totalRecords" [recordsPerPage]="10"></mat-table-pagination>
    <nz-table *ngIf="TableData.length!=0">
        <thead>
            <tr>
                <!-- <th class="col1">Action</th> -->
                <th class="col1">Sr.No.</th>
                <th class="col1">Date</th>
                <th class="col1">File Name</th>
                <th class="col1">Table Name</th>
                <th class="col1">File Id</th>
                <th class="col1">Depot Code</th>
                <th class="col1">Time</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of TableData;let i=index">
                <!-- <td class="col1 color-black gap">
                    <a><i class="fa fa-edit" title="Edit of Table : row : "></i></a>
                    <a><i class="fa fa-trash" title="Delete of Table : row : "></i></a>
                </td> -->
                <td class="col1 color-black">{{(i+1)}}</td>
               <td class="col1">{{item.Date}}</td>
                  <td class="col1">{{item.Name}}</td>
                  <td class="col1">{{item.TableName}}</td>
                  <td class="col1">{{item.fileid}}</td>
                  <td class="col1">{{item.DepotCode}}</td>
                  <td class="col1">{{item.TimeStamp}}</td>
            </tr>
        </tbody>
    </nz-table>
</div>