<div class="dashboard-main-page">
    <!-- SIDEBAR -->
    <section id="sidebar">
        <a routerLink="/home" class="brand">
            <img src="https://theforesite.in/assets/Images/logo-icon.png" alt="">
            <span class="text">Shree Cement</span>
        </a>
        <ul class="side-menu top">
            <div class="side-nav-bar">
                <ul class="nav flex-column flex-nowrap text-truncate left-menu">
                    <li class="nav-item" *ngFor="let n of menuList" (click)="select('main', n.name,$event);"
                        [ngClass]="{active: isActive('main', n.name)}">
                        <a class="text-black"><i *ngIf="n?.icon!=undefined" [class]="n?.icon"></i> {{n.name}}</a>
                        <span *ngIf="isActive('main', n.name)==false"><i
                                class='fa-solid fa-caret-right menu-icon text-black'></i></span>
                        <span *ngIf="isActive('main', n.name)"><i
                                class='fa-solid fa-caret-up menu-icon text-black'></i></span>
                        <ul class="subMenu p-2">
                            <li class="nav-item p-0" *ngFor="let child of n.subMenu;let i=index"
                                (click)="select('sub', child.label, $event);">
                                <a class="text-black link" [routerLink]="child?.route">{{(i+1)}}. {{child.label}}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </ul>
        <ul class="side-menu bottom">
            <li>
                <a (click)="logout()" class="logout">
                    <i class="fa fa-sign-out"></i>
                    <span class="text text-size-2">Logout</span>
                </a>
            </li>
        </ul>
    </section>
    <!-- SIDEBAR -->

    <!-- CONTENT -->
    <section id="content">
        <nav>
            <span class="change-menu"><i class="fa-solid fa-bars"></i></span>
            <div class="title-of-page">
                {{this.serviceService.TITLE_OF_PAGE}}
            </div>
            <a class="profile" matButton [matMenuTriggerFor]="menu" id="profileIcon">
                <ngx-avatars [name]="this.SESSION_DATA?.emp_name"></ngx-avatars>
            </a>
            <mat-menu #menu="matMenu">
                <div class="profile-menu">
                    <ul>
                        <li><a (click)="UserInfoView()"><i class="fa-solid fa-user"></i> My Profile</a></li>
                        <li><a href="#"><i class="fa-solid fa-gear"></i> Settings</a></li>
                        <li><a (click)="logout()"><i class="fa fa-sign-out"></i> Log Out</a></li>
                    </ul>
                </div>
            </mat-menu>
        </nav>
        <main>
            <mat-toolbar color="primary">
                <div class="head-title">
                    <div class="left mx-4">
                        <span (click)="historyBack()"> <i class="fa-solid fa-arrow-left"></i></span>
                        <span (click)="historyNext()"><i class="fa-solid fa-arrow-right"></i></span>
                        <h1>Dashboard</h1>
                    </div>
                    <div class="sb-sidenav-footer">
                        <div class="small">Logged in as:</div>
                        <h4 class="logged-name"> {{this.SESSION_DATA?.emp_name}} </h4>
                    </div>
                </div>
            </mat-toolbar>

            <div class="item-container" *ngIf="this.router.url=='/home'">
                <div class="col-12" *ngFor="let n of menuList">
                    <div class="card dasboard-card">
                        <div class="card-body p-2">
                            <h5>{{n.name}}</h5>
                        </div>
                        <div class="card-footer p-4">
                            <div class="margin-left" *ngFor="let child of n.subMenu">
                                <a routerlinkactive="active" [routerLink]="child?.route"
                                    class="nav-link">{{child.label}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="this.router.url!='/'">
                <router-outlet></router-outlet>
            </div>
        </main>
    </section>
</div>

<ng-template #UserPopup>
    <div class="profile-container">
        <!-- Premium Profile Card -->
        <div class="profile-card">
            <div class="card-content">
                <!-- Avatar Circle -->
                <div class="avatar-wrapper">
                    <div class="avatar">
                        <div class="avatar-inner"></div>
                        <div class="avatar-glow"></div>
                        <div class="avatar-border"></div>
                    </div>
                </div>

                <!-- Profile Info -->
                <div class="profile-info">
                    <h2 class="name">{{SESSION_DATA?.emp_name}}</h2>
                    <p class="title">{{SESSION_DATA?.Role_Type}}</p>

                    <div class="stats">
                        <div class="stat">
                            <span class="stat-value">{{SESSION_DATA?.contact_number}}</span>
                            <span class="stat-label">Contact Number</span>
                        </div>
                        <div class="stat">
                            <span class="stat-value">{{SESSION_DATA?.email_id}}</span>
                            <span class="stat-label">Email Id</span>
                        </div>
                        <div class="stat">
                            <span class="stat-value">{{SESSION_DATA?.Emp_Id}}</span>
                            <span class="stat-label">Emp Id</span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Card Effects -->
            <div class="card-shine"></div>
            <div class="card-border"></div>
            <div class="card-glow"></div>
        </div>
    </div>
</ng-template>