/* You can add global styles to this file, and also import other style files */

@import url("../node_modules/@angular/material/prebuilt-themes/indigo-pink.css");
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url("../node_modules/@ng-select/ng-select/themes/material.theme.css");
@import url("../node_modules/ngx-toastr/toastr.css");
@import '../node_modules/upload-utils-ui/src/lib/styles/global.common.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your custom styles below (optional) */
body {
  font-family: 'Arial', sans-serif;
}

body,
html {
    display: flex;
    align-items: center;
    width: 100vw;
    margin: auto;
    height: 100vh;
    justify-content: center;
}

::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555555;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.cdk-overlay-container {
    position: fixed;
    z-index: 9999999;
}

.bg-hide{
    box-shadow: none !important;
}


.sup-env-type{
    color: red;
}