<div class="login-box-container">
    <div class="login-box">
        <h2>Login <sup class="sup-env-type">
                {{serviceService.ENV_TYPE}}
            </sup></h2>
        <div id="face">😐</div>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="input-box">
                <label>Username</label>
                <input type="text" formControlName="username" required />
            </div>

            <div class="input-box">
                <label>Password</label>
                <div class="password-icon-controller">
                    <input [type]="this.PasswordShowHide==false?'password':'text'" formControlName="password"
                        required />
                    <span class="password-icon" *ngIf="this.PasswordShowHide==true"
                        (click)="this.PasswordShowHide=!this.PasswordShowHide"> <i class="fa fa-eye"
                            aria-hidden="true"></i></span>
                    <span class="password-icon" *ngIf="this.PasswordShowHide==false"
                        (click)="this.PasswordShowHide=!this.PasswordShowHide"><i
                            class="fa-solid fa-eye-slash"></i></span>
                </div>
            </div>

            <button type="submit" [disabled]="loginForm.invalid">Login</button>
        </form>
    </div>
</div>